<!DOCTYPE html>
{% extends 'testapp/base.html'%}
{% block body_block%}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to DURGAEXAMS</h1>
    <h2>Rules:</h2>
    <ul>
      <li>Rule -1 : one exam per day</li>
      <li>Rule -2 : one exam per day</li>
      <li>Rule -3 : one exam per day</li>
      <li>Rule -4: one exam per day</li>
      <li>Rule -5 : one exam per day</li>
    </ul>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
   {% endblock %}
